* {
	margin:0;
	padding:0;
	font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	color: #343434;
}
html {
	overflow: hidden;
}
.container {
	width: 100%;/*1900px;*/
	height: 1267px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	padding-top: 5%;
	box-sizing: border-box;
	background-color: rgba(52, 52, 52, 0.65);
}
/*#container-main {
	background-image: url(../img/main-background.jpg);
}
#container-contacts {
	background-image: url(../img/contacts-background.jpg);
	display: none;
}
#container-maintenance {
	background-image: url(../img/maintenance-background.jpg);
}
#container-agency {
	background-image: url(../img/agency-background.jpg);
}
#container-documents {
	background-image: url(../img/documents-background.JPG);
}
#container-consultations {
	background-image: url(../img/consultations-background.JPG);
}*/
#languages {
	position: absolute;
	z-index: 10;
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	padding-right: 5%;
	font-size: 30px;
}
#languages p {
	float: right;
	margin-right: 1%;
	margin-top: 1%;
}
#languages p:hover {
	color: #7f7e7e;
}
#hidden-menu {
	display: none;
	z-index: 20;
	height: 100%;
	width: 30%;
	background-color: rgba(254, 219, 60, 0.65);
	font-size: 25px;
	line-height: 50px;
	padding-left: 3%;
	box-sizing: border-box;
	list-style-type: none;	
	position: absolute;
}
#close-hidden-menu {
	overflow: hidden;
}
#close {
	width: 9%;
	float: right;
	margin: 5%;
}
#hidden-menu a:hover {
	color: #7f7e7e;
}
#menu {
	overflow: hidden;
	margin-right: 7%;
	font-size: 30px;
	line-height: 40px;
}
.menu-item div {
	height: inherit;
}
#hamburger {
	position: absolute;
	z-index:10;
	top: 10%;
	left: 4%;
	width: 5%;
}
.menu-item {
	height: 115px;
	list-style-type: none;
	display: block;
	float: right;
	background-color: rgba(254, 219, 60, 0.65);
	vertical-align: middle;
	text-align: center;
	margin-left: 2%;
	padding-left: 2%;
	padding-right: 2%;
}
.menu-item a:hover {
	color: #7f7e7e;
}
.menu-item div {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}
.menu-item a {
	text-decoration: none;
}
#block-logo,
#block-contacts {
	background-color: rgba(254, 219, 60, 0.65);
}
#block-logo {
	margin-top: 200px;
	margin-left: 1%;
	width: 35%;
	margin-bottom: 400px;
	height: 267px;
}
#block-logo img {
	float: left;
	border-right: thick solid #343434;
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 7%;
	margin-right: 5%;
}
#logo-index {
	width: 19%;
}
#name {
	height: inherit;
	font-size: 55px;
	display: table-cell;
	vertical-align: middle;
}
#block-contacts {
	width: 40%;
	text-align: center;
	font-size: 40px;
	line-height: 60px;
	box-sizing: border-box;
	margin-left: 30%;
	margin-top: 16%;
	position: relative;
	padding-top: 5%;
	padding-bottom: 5%;
}
#block-contacts a:hover {
	color: #7f7e7e;
}
#block-logo-contacts {
	position: absolute;
	width: 28%;
	top: -30%;
	left: -15%;
	z-index: 10;
}
#logo-contacts {
	width: 53%;
	margin: 17%;
}
#background-logo-top,
#background-logo-left {
	background-color: rgba(254, 219, 60, 0.65);
	position: absolute;
}
#background-logo-top {
	width: 28%;
	height: 30%;
	top: -30%;
	left: -15%;
}
#background-logo-left {
	width: 15%;
	height: 30%;
	top: 0;
	left: -15%;
}
.arrow-block,
.text-block {
	background-color: rgba(52, 52, 52, 0.65);
}
.text-block,
.arrow-block p {
	color: #fedb3c;
}
.arrow-block {
	width: 17%;
	padding-top: 1%;
	padding-bottom: 1%;
	font-size: 40px;
	line-height: 125px; /*Равна высоте стрелочки!*/
}
#arrow-block-index {
	position: absolute;
	top: 45%;
	right: 2%;
}
#arrow-block-contacts {
	position: absolute;
	top: 45%;
	left: 2%;
}
.arrow-block p {
	display: inline-block;
	margin-left: 8%;
	margin-right: 8%;
}
.arrow {
	width: 23%;
}
#arrow-right {
	float: right;
	margin-right: 7%;
}
#arrow-left {
	float: left;
	margin-left: 7%;
}
.text-block {
	display: inline-block;
	vertical-align: bottom;
	box-sizing: border-box;
}
#information {
	width: 40%;
	padding: 1%;
	font-size: 18px;
	line-height: 30px;
	margin-left: 1%;
}
#slogan {
	width: 37%;
	font-size: 45px;
	margin-left: 20%;
	padding: 2% 0;
	text-align: center;
}