#header,
#block-logo-others {
		background-color: rgba(254, 219, 60, 0.65);
}
#header {
	font-size: 30px;
	margin-right: 20%;
	margin-top: 7%;
	float: right;
	text-align: center;
	padding: 1%;
}
#block-logo-others {
	margin-top: 12%;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	overflow: hidden;
	font-size: 20px;
}
#block-logo-others img {
	width: 10%;
	float: left;
	border-right: 5px solid #343434;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 5%;
}
#text {
	margin: 2%;
	margin-left: 25%;
}
#text p {
	text-indent: 5%;
}
#text ul {
	margin-top: 1%;
	margin-bottom: 1%;
}
#text li {
	list-style-type: circle;
	margin-left: 2%;
}